/* style for the Home page*/

h1{
    text-align: center;
    margin: 50px;
}
#logo {
    position: absolute;
    top: 50px;
    right: 0;
    margin: 20px;
    width: 100px;
    height: 50px;
    z-index: 1;
  }
nav {
  background-color: rgba(209, 222, 206, 0.89);
  overflow: hidden;
}


/* style for the links in the navbar */
nav a {
  float: left;
  display: block;
  color: rgb(61, 53, 201);
  text-align: center;
  font-weight: bold;
  padding: 0px 10px;
  text-decoration: none;
  margin: 10px 60px;
 
}

body {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 500px;
    
}

/* style for the active link in the navbar */
nav a.active {
  background-color: rgb(113, 163, 115);
}

/* style for the hover effect on the links in the navbar */
nav a:hover {
  background-color: rgb(221, 221, 221);
  color: rgb(67, 179, 168);
}
 
p{
    float: center;
    display: block;
    color: rgb(97, 5, 130);
    text-align: center;
    padding: 5px 5px;
    margin: 30px 30px;
    font-weight: bold;
    font-size: large;
    
}
#contact{
text-align:center;
color: rgb(39, 37, 36);
   }
 